<!DOCTYPE html>
<html lang="en" ng-app="videoPlayerApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Video Player</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Darkly CSS -->
    <link rel="stylesheet" href="css/darkly.css">
    
    <!-- Our Styling -->
    <link rel="stylesheet" href="css/videoPlayerStyle.css">
    
</head>
<body ng-controller="VideoController">
    
    <div id="fullPlayer" class="unselectable ng-cloak">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="videoOutput" ng-click="togglePlay()" width="100%" height="100%" src="{{videoSource}}"></video>
            <div id="bigPlayButton" ng-click="togglePlay()" ng-hide="videoPlaying" class="well"><span class="glyphicon glyphicon-play"></span></div>
            <div id="videoTitle" ng-hide="videoPlaying">{{titleDisplay}}</div>
        </div>
        <div id="playerToolBar">
            <a id="playBtn" ng-click="togglePlay()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span></a>
            <a id="muteBtn" ng-click="toggleMute()" class="btn btn-default"><span class="glyphicon glyphicon-volume-up"></span></a>
            <span id="videoTime">00:00:00 / 00:00:00</span>
        </div>
    </div>
    
    <!-- Bootstrap Buttons
    <div class="btn-group btn-group-justified" role="group">
        <a class="btn btn-default" onclick="playVideo()">Play</a>
        <a class="btn btn-default" onclick="pauseVideo()">Pause</a>
        <a class="btn btn-default" onclick="stopVideo()">Stop</a>
    </div>-->   
    
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Angular JS -->
    <script src="js/angular.min.js"></script>
    
    <script type="text/javascript">
    
        var videoSource = "video/YouBetterRun.mp4";
        var titleDisplay = "You Better Run";
        var videoDescription = "This Video was downloaded from 9gag.com";
        
    </script>
    
    <!-- Our App JS -->
    <script src="js/videoPlayerApp.js"></script>
      
    <!--
    <script>
        
        var controlThePlayer = document.getElementById("videoOutput");

        function playVideo(){
            controlThePlayer.play();
        }
        
        function pauseVideo(){
            controlThePlayer.pause();
        }
        
        function stopVideo(){
            controlThePlayer.pause();
            controlThePlayer.currentTime = 0;
        }
        
    </script>-->
        
</body>
</html>